<!-- admin can edit a product-->
<!doctype html>
<html lang="en">
  <head>
    <% include partials/head %>
    <!-- Custom styles for this template -->
    <link href="/mycss/admin-edit.css" rel="stylesheet">
  </head>

  <body>

    <header>
       <% include partials/admin-navbar %>
    </header>

    <main role="main">
        <div class="container py-5">
            <h2><%= product.name %></h2>
            <form method="POST" encType="multipart/form-data" id="editForm">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                                <label for="productname">Name</label>
                                <input name="name" type="text" class="form-control" id="productname" placeholder="" value="<%= product.name %>">
                        </div>
                        <div class="form-group">
                                <label for="description">Description</label>
                                <textarea name="description" class="form-control" id="description" rows="3"><%= product.description %></textarea>
                        </div>
                        <div class="form-group">
                                <label for="image">Image</label>
                                <span class="form-control">
                                    <img class="img-fluid mini-image" src="<%= product.image %>">
                                </span>
                        </div>
                        <div class="form-group">
                                <label for="image">New Image</label>
                                <input name="image" type="file" class="form-control-file" id="image" required="<%= product.name === undefined %>">
                        </div>
                        <div class="form-group">
                            <label for="size">Size</label>
                            <select name="size" multiple class="form-control" id="size">
                                <option <%= product.size.includes(10) ? 'selected':'' %> >10</option>
                                <option <%= product.size.includes(20) ? 'selected':'' %>>20</option>
                                <option <%= product.size.includes(30) ? 'selected':'' %>>30</option>
                                <option <%= product.size.includes(40) ? 'selected':'' %>>40</option>
                                <option <%= product.size.includes(50) ? 'selected':'' %>>50</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="color">Color</label>
                            <select name="color" multiple class="form-control" id="color">
                                <option <%= product.color.includes('Red') ? 'selected':'' %>>Red</option>
                                <option <%= product.color.includes('Orange') ? 'selected':'' %>>Orange</option>
                                <option <%= product.color.includes('Black') ? 'selected':'' %>>Black</option>
                                <option <%= product.color.includes('White') ? 'selected':'' %>>White</option>
                                <option <%= product.color.includes('Green') ? 'selected':'' %>>Green</option>
                            </select>
                        </div>
                        <div class="form-group">
                                <label for="price">Price</label>
                                <input name="price" type="number" class="form-control" id="price" placeholder="" value="<%= product.price %>">
                        </div>
                        <div class="form-group">
                                <label for="quantity">Quantity</label>
                                <input name="quantity" type="number" class="form-control" id="quantity" placeholder="" value="<%= product.quantity %>">
                        </div>
                        <div class="form-group">
                            <label for="category">Category</label>
                            <select name="category" class="form-control" id="category">
                                <option value="" ></option>
                                <% categories.forEach(function(category){ %>
                                    <% if(!!product.type && !!product.type._id && product.type._id.equals(category._id)){ %>
                                        <option value="<%= category._id %>" selected><%= category.name %></option>
                                    <% }else{ %>
                                        <option value="<%= category._id %>" ><%= category.name %></option>
                                    <% } %>
                                <% }) %>
                            </select>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-success btn-md">Submit</a>
            </form>
        </div>
    </main>
    <footer>
          <% include partials/footer %>
          <script src="/js/admin-edit.js"></script>
    </footer>
   </body>
</html>