<!-- admin can edit a product-->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Webshop</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="/mycss/admin-edit.css" rel="stylesheet">
  </head>

  <body>

    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/admin">Admin panel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/admin">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Logout</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Language
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">EN</a>
                <a class="dropdown-item" href="#">HU</a>
              </div>
            </li>
          </ul>
          <!--form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form-->
        </div>
      </nav>
    </header>

    <main role="main">
        <div class="container py-5">
            <h2><%= product.name %></h2>
            <form method="POST" encType="multipart/form-data">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                                <label for="productname">Name</label>
                                <input name="name" type="text" class="form-control" id="productname" placeholder="" value="<%= product.name %>">
                        </div>
                        <div class="form-group">
                                <label for="description">Description</label>
                                <textarea name="description" class="form-control" id="description" rows="3"><%= product.description %></textarea>
                        </div>
                        <div class="form-group">
                                <label for="image">Image</label>
                                <span class="form-control">
                                    <img class="img-fluid mini-image" src="<%= product.image %>">
                                </span>
                        </div>
                        <div class="form-group">
                                <label for="image">New Image</label>
                                <input name="image" type="file" class="form-control-file" id="image">
                        </div>
                        <div class="form-group">
                            <label for="size">Size</label>
                            <select name="size" multiple class="form-control" id="size">
                                <option <%= product.size.includes(10) ? 'selected':'' %> >10</option>
                                <option <%= product.size.includes(20) ? 'selected':'' %>>20</option>
                                <option <%= product.size.includes(30) ? 'selected':'' %>>30</option>
                                <option <%= product.size.includes(40) ? 'selected':'' %>>40</option>
                                <option <%= product.size.includes(50) ? 'selected':'' %>>50</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="color">Color</label>
                            <select name="color" multiple class="form-control" id="color">
                                <option <%= product.color.includes('Red') ? 'selected':'' %>>Red</option>
                                <option <%= product.color.includes('Orange') ? 'selected':'' %>>Orange</option>
                                <option <%= product.color.includes('Black') ? 'selected':'' %>>Black</option>
                                <option <%= product.color.includes('White') ? 'selected':'' %>>White</option>
                                <option <%= product.color.includes('Green') ? 'selected':'' %>>Green</option>
                            </select>
                        </div>
                        <div class="form-group">
                                <label for="price">Price</label>
                                <input name="price" type="number" class="form-control" id="price" placeholder="" value="<%= product.price %>">
                        </div>
                        <div class="form-group">
                                <label for="quantity">Quantity</label>
                                <input name="quantity" type="number" class="form-control" id="quantity" placeholder="">
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-success btn-md">Submit</a>
            </form>
        </div>
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js"></script>
   </body>
</html>