<!-- TODO add modal to images-->
<!doctype html>
<html lang="en">
  <head>
    <%- include partials/head %> 
    <!-- Custom styles for this template -->
    <link href="/mycss/admin-index.css" rel="stylesheet">
  </head>

  <body>

    <header>
        <%- include partials/admin-navbar %>
    </header>

    <main role="main">
        <div class="container py-5">
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Product Name</th>
                    <th scope="col">Image</th>
                    <th scope="col">Description</th>
                    <th scope="col">Category</th>
                    <th scope="col">Color</th>
                    <th scope="col">Size</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price (HUF)</th>
                    <th scope="col">Remove</th>
                  </tr>
                </thead>
                <tbody>
                  <% products.forEach(function(product){ %>
                  <tr>
                    <th scope="row"><%= product.name %></th>
                    <td><img class="img-fluid mini-image" src="<%= product.image %>"></td>
                    <td><%= product.description %></td>
                    <td><%= product.type.name %></td>
                    <td><%= product.color %></td>
                    <td><%= product.size %></td>
                    <td><%= product.quantity %></td>
                    <td><%= product.price %></td>
                    <td>
                        <a class="btn btn-info" href="/admin/edit/<%= product.id %>">&#9998;</a>
                        <a class="btn btn-danger" href="/admin/delete/<%= product.id %>">&#10008;</a>
                    </td>
                  </tr>
                  <% }) %>
                </tbody>
              </table>  
              <a href="/admin/new" class="btn btn-info btn-md">New Product</a>
        </div>
    </main>

    <footer>
       <% include partials/footer %>
    </footer>
   </body>
</html>