<!-- TODO add modal? :D -->
<!doctype html>
<html lang="en">
  <head>
    <% include partials/head %>
    <!-- Custom styles for this template -->
    <link href="/mycss/checkout.css" rel="stylesheet">
  </head>

  <body>

    <header>
      <% include partials/navbar %>
    </header>

    <main role="main">
        <div class="container py-5">
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Product Name</th>
                    <th scope="col">Image</th>
                    <th scope="col">Color</th>
                    <th scope="col">Size</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Total</th>
                    <th scope="col">Remove</th>
                  </tr>
                </thead>
                <tbody>
                  <% cart.items.forEach(function(item){ %>
                      <tr>
                        <th scope="row"><%= item.product.name %></th>
                        <td><img class="img-fluid mini-image" src="<%= item.product.image %>"></td>
                        <td><%= item.color %></td>
                        <td><%= item.size %></td>
                        <td><%= item.quantity %></td>
                        <td><%= item.product.price %></td>
                        <td><%= item.sum %></td>
                        <td><a class="btn btn-danger" href="/checkout/delete/<%= item.id %>">X</a></td>
                      </tr>
                  <% }) %>
                </tbody>
              </table>  
              <h4>Total: <%= cart.sum %>$</h4>
              <form id=checkoutForm"" method="POST">  
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <button type="submit" class="btn btn-primary">Order</button>
              </form>          
        </div>
    </main>

    <footer>
      <% include partials/footer %>
      <script src="/js/checkout.js"></script>
    </footer>
   </body>
</html>