<!-- the user can watch the details of a product-->
<!doctype html>
<html lang="en">
  <head>
    <% include partials/head %>
    <!-- Custom styles for this template -->
    <link href="/mycss/details.css" rel="stylesheet">
  </head>

  <body>

    <header>
      <% include partials/navbar %>
    </header>

    <main role="main">
        <form method="POST">
        <div class="container py-5">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <img src="<%= product.image %>" class="img-fluid img-thumbnail">
                </div>
                <div class="col-xs-12 col-sm-6">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">Name</th>
                        <th scope="col"><%= product.name %></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">Description</th>
                        <td><%= product.description %></td>
                      </tr>
                      <tr>
                        <th scope="row">Size</th>
                        <td>
                          <select name="size" class="custom-select">
                            <option selected>Choose...</option>
                            <% product.size.forEach(function(size){ %>
                              <option><%= size %></option>
                            <% }) %>
                          </select>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">Color</th>
                        <td>
                          <%= product.color %>
                          <!--select class="custom-select">
                            <option selected>Choose...</option>
                            <option value="black">black</option>
                            <option value="white">white</option>
                            <option value="orange">orange</option>
                          </select-->
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">Price</th>
                        <td><%= product.price %>$</td>
                      </tr>
                      <tr>
                        <th scope="row">Quantity</th>
                        <td>
                          <input name="quantity" type="number" class="form-control" aria-describedby="" placeholder="">
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <a class="btn btn-primary" href="/" role="button">Back</a>
                  <button type="submit" class="btn btn-success float-right" role="button">Add to cart</a>
                  <div class="clearfix" />
                </div>
            </div>
        </div>
      </form>
    </main>

    <footer>
      <% include partials/footer %>
    </footer>
   </body>
</html>