<!doctype html>
<html lang="en">
  <head>
    <%- include partials/head %> 
    <!-- Custom styles for this template -->
    <link href="/mycss/index.css" rel="stylesheet">
  </head>

  <body>

    <header>
    <%- include partials/navbar %>
    </header>

    <main role="main">
      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            <% products.forEach(function(product){ %>
              <div class="col-md-4">
                  <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <%= product.name%>
                    </div>
                    <img class="card-img-top" src="<%= product.image %>" alt="Card image cap">
                    <div class="card-body">
                      <!-- Details-->
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                          <p class="card-text"><%= product.description%></p>
                        </li>
                        <li class="list-group-item">
                            Price: <%= product.price%>
                          </li>
                      </ul>
                      <div class="d-flex justify-content-end align-items-center">
                        <div class="btn-group">
                          <a href="/details/<%= product.id%>" class="btn btn-md btn-info">Details</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            <% }) %>
            
          </div>
        </div>
      </div>
    </main>

    <footer>
       <% include partials/footer %>
    </footer>
  </body>
</html>
